{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <style>
        .form-control{
            background: none;
            width: auto;
            margin: 15px;
            display: inline-block;
        }


    </style>
</head>

<div class="col-12">
    <div class="container">
        <div style="display: flex;justify-content: center;">
            <h4>show events page</h4>
        </div><hr><br>
        <div class="col-12" style="display: flex;justify-content: center;" >
            <a href="{% url 'add_event' %}"><button type="button" style="margin: 10px;font-size: 0.7rem;box-shadow:none;font-size: 0.7rem;box-shadow: none;border: 3px solid #4125dd;border-radius: 7px;" class="btn">Add Event +</button></a>
        </div>
        
        <div class="get-quote col-12">
            {% for i in data %}
            
                <div class="row">
                    <div class="col-12" style="display: flex;">
                        <div class="col-6" style="display: flex;">
                            <h3 id="quote" style="font-weight: initial;font-size: 1.3rem;">{{ i.name }}</h3>
                        </div>
                        
                        <div class="col-6" style="display: flex;justify-content: end;">
                            
                                <a href="{% url 'show_days' i.id %}"><button type="button" style="margin-right: 10px;font-size: 0.7rem;" class="btn btn-outline-info">Days details</button></a>
                                <a href="{% url 'generate_gr' i.id %}"><button type="button" style="margin-right: 10px;font-size: 0.7rem;" class="btn btn-outline-info">Generate QR</button></a>
                                <a href="{% url 'add_feedback_questions' i.id %}"><button type="button" style="margin-right: 10px;font-size: 0.7rem;" class="btn btn-outline-info">Add Feedback</button></a>

                            <div class="dropdown">
                                <a style="padding: 14px;background: grey;border: none;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>&#8942;</span>
                                </a>
                              
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'update_event' i.id %}">Update </a>
                                    <a class="dropdown-item" href="{% url 'delete_event' i.id %}">Delete</a>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <hr>
        
            {% endfor %}
    
        </div>
    </div>
</div>

{% endblock %}
