{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>

    <style>

        .editor {
            min-height: 800px;
            width: 100%;
            border: 1px solid black;
            border-color: #e8e8e8;
        }
        
        .editor-commands {
            -moz-column-count: 3;
            -moz-column-gap: 20px;
            -webkit-column-count: 3;
            -webkit-column-gap: 20px;
            column-count: 3;
            column-gap: 20px;
        }


    </style>
    
</head>

<body>

    
<div class="col-12">
    <form enctype="multipart/form-data" action="{% url 'add_form' event_instance.id %}"  method="post">

    {% csrf_token %}




    <div class="row" style="justify-content: center;">
        
        <div class="input_fields_wrap" style="display: inline-block;width: 600px;">
           
        <label>  Title </label>    
        <input type="text" name="title" id="Sdsd" class="form-control input-group mb-3 get" style="background: white;" placeholder="Title">
    

        <label>  Description </label><br>
            
        <div class="editor-commands">
            <ul>
                <li><a data-command="undo">Undo</a></li>
                <li><a data-command="redo">Redo</a></li>
                <li><a data-command="insertHorizontalRule">hr</a></li>
                <li><a data-command="bold">Bold</a></li>
                <li><a data-command="italic">Italic</a></li>
                <li><a data-command="underline">Underline</a></li>
                <li><a data-command="strikeThrough">strikeThrough</a></li>
                <li><a data-command="justifyLeft">justifyLeft</a></li>
                <li><a data-command="justifyCenter">justifyCenter</a></li>
                <li><a data-command="justifyRight">justifyRight</a></li>
                <li><a data-command="justifyFull">justifyFull</a></li>
                <li><a data-command="indent">indent</a></li>
                <li><a data-command="outdent">outdent</a></li>
                <li><a data-command="insertUnorderedList">insertUnorderedList</a></li>
                <li><a data-command="insertOrderedList">insertOrderedList</a></li>
                <li><a data-command="html" data-command-argument="h1">h1</a></li>
                <li><a data-command="html" data-command-argument="h2">h2</a></li>
                <li><a data-command="html" data-command-argument="h3">h3</a></li>
                <li><a data-command="html" data-command-argument="p">p</a></li>
                <li><a data-command="subscript">subscript</a></li>
                <li><a data-command="superscript">superscript</a></li>
            </ul>
        </div>
        <div id="Editor" class="editor" name="describe" contenteditable="true"></div>

        <div id="Preview"></div>
            <hr>

        <label style="font-weight: bold;">  Event Images</label><br><br>
            

            <input type="file" id="img" name="image1" accept="image/*">
            <input type="file" id="img" name="image2" accept="image/*"><br><br>

        <label style="font-weight: bold;">  Details of program cordinator </label>
        <hr>
        <label>  Name </label>    
            <input type="text" name="name" id="Sdsd"  class="form-control input-group mb-3 get" style="background: white;" placeholder="Name">
        <label>  Department </label>
            <input type="text" value="{{ event_instance.department }}" name="department" id="Sdsd"  class="form-control input-group mb-3 get" style="background: white;"  placeholder="Department">
        <label>  Collage name</label>    
            <input type="text" name="collage" id="Sdsd" value="G H Raisoni Collage of Engineering and Management" class="form-control input-group mb-3 get" style="background: white;"  placeholder="Collage name">
        <label>  Date </label>
            <input type="datetime-local" name="date" id="birthdaytime" class="form-control get_timedate" style="background: white;"  name="birthdaytime">
        <br><br>
            <input class="form-control" type="submit" style="width:100px" value="submit">
        <br>
    </div>
</form>
</div>
    </div>

</body>

<script>

    var commandButtons = document.querySelectorAll(".editor-commands a");
for (var i = 0; i < commandButtons.length; i++) {
    commandButtons[i].addEventListener("mousedown", function (e) {
        e.preventDefault();

        var commandName = e.target.getAttribute("data-command");
        if (commandName === "html") {
            var commandArgument = e.target.getAttribute("data-command-argument");
            document.execCommand('formatBlock', false, commandArgument);
        } else {
            document.execCommand(commandName, false);
        }
    });
}


document.getElementById("PreviewButton").addEventListener("click", function(e) {
    e.preventDefault();
    document.getElementById("Preview").innerText = document.getElementById("Editor").innerHTML;
});



function ajax_su(){



    title = document.getElementById('title')
    var MyDiv2 = document.getElementById('Editor');
    alert(MyDiv2)
    console.log(MyDiv2)
    description = MyDiv2.innerHTML
    console.log(description)
    name = document.getElementById('name')
    department = document.getElementById('department')
    collage = document.getElementById('collage')
    date = document.getElementById('date')

    let form_data = {
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        title: title,
        describe: description,
        name: name,
        department: department,
        collage : collage,
        date : date,
      }

    $.ajax({   
        cache: false,                    // initialize an AJAX request
        type: "POST",
        url: "{% url 'add_form' event_instance.id %}",
        data: form_data,     // add the country id to the POST parameters

        success: function (data) {   // `data` is from `get_topics_ajax` view function
            
            alert('done')
            

          
        }

    });


}
  
</script>

{% endblock %}